@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;1,100&family=Open+Sans:wght@300;400&family=Playfair+Display:wght@500;700&family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Montserrat", serif;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

body::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  background-color: #fff;
  opacity: 0.7;
  background-image: url("./img/background-image.jpg");
  background-position: center;
  background-size: cover;
  z-index: -99;
}

label {
  font-weight: 700;
  margin-bottom: 0.2rem;
}

h3 {
  margin: 1rem 0px;
}

.container_login,
.container_menu,
.container_pedido {
  width: 400px;
  height: 400px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: #fff;
}

.container_cardapio,
.container_carrinho {
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: #fff;
}

.card_login,
.card_menu,
.card_pedido,
.card_cardapio,
.card_carrinho {
  padding: 40px 20px;
}

.card_login_title,
.card_menu_title,
.card_pedido_title,
.card_cardapio_title,
.card_carrinho_title {
  text-align: center;
}

.form_group {
  margin: 2.2rem 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 2rem;
}

.entrar {
  margin-top: 4rem;
}

.cadastro {
  margin: 0.5rem 0px !important;
}

.form_group_input {
  width: 100%;
  border-radius: 10px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.24);
  padding: 10px;
}

.form_group_input:focus {
  outline: none !important;
}

.btn_login {
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background-color: #fee8b0;
  font-size: 1.2rem;
  padding: 5px;
  font-weight: 700;
  font-family: "Montserrat", serif;
}

.btn_login:hover {
  transform: scale(1.05);
  background-color: #f97b22;
}

.btn_login_cadastro {
  font-weight: 700;
  margin: 0;
  color: inherit;
  position: relative;
}

.btn_login_cadastro::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 25%;
  height: 2px;
  background-color: #f97b22;
  opacity: 0.5;
}

/* MENU */

.card_menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.menu_button {
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background-color: #fee8b0;
  font-size: 1.2rem;
  padding: 5px;
  font-weight: 700;
  width: 300px;
  font-family: "Montserrat", serif;
}

.menu_button:hover {
  transform: scale(1.05);
  background-color: #f97b22;
}

.card_menu_options_list {
  margin-top: 2rem;
}

.card_menu_options_list_item {
  margin-top: 0.5rem;
}

/* Pedidos */

.card_pedido_item {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Cardápio */

.card_cardapio_options,
.card_carrinho_options {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  column-gap: 1rem;
  row-gap: 2rem;
  place-items: center;
}

.comidaImage {
  width: 100px;
  height: 100px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.descricaoComida {
  display: flex;
  flex-direction: column;
}

.descricaoComida > span {
  font-weight: bold;
}

.card_cardapio_option {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card_cardapio_option > button {
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background-color: #fee8b0;
  padding: 5px;
  margin-top: 5px;
  font-family: "Montserrat", serif;
}
.card_cardapio_option > button:hover {
  transform: scale(1.05);
  background-color: #f97b22;
}
